*{
padding: 0px;
margin: 0px;
font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 15px 45px 15px 120px;
    align-items: center;
}

.logo{
    width: 150px;
}

.menu{
    display: flex;
    color: white;
    list-style: none;
    gap: 20px;
    font-weight: bold;
}
.menu a{
    text-decoration: none;
}
.separador{
    border-left: thick solid white;
    border-width:1px;
   }

/* primera seccion, azul*/
.primera-seccion a, p{
    font-size: 10px;

}
.primera-seccion a{
    text-decoration: underline white;
    color:white;
} 

.primera-seccion{
    background-color: #1d75de;
    height: 300px;
    color: white;
    line-height: 70px;
    padding: 100px 120px;
}

h1{
    font-size: 40px;
    font-weight: bold;
}


.button {
    color: white;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 40px;
    font-weight: bold;
  }

.firstButton{
    background-color: black;
    border: none;
}
.secondButton{
    background-color: #1d75de;
    border-color: white;
    border: 2px solid;
}

.firstButton:hover, 
.secondButton:hover{
    scale: 1.1;
}


a:hover{
    color: #1ed760;
    cursor: pointer;
}

/* segunda seccion 4 imagenes*/
.premium-section{
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    padding-bottom: 50px;
}

.premium-section article{
    width: 20%;
}

.img-section{
    width: 150px;
}

h2.segunda-seccion{
    text-align: center;
    padding: 50px;
    font-size: 40px;
    font-weight: bold;
}
article{
    line-height: 30px;
}
.premium-section article p{
    font-size: 12px;
}
article h3{
    font-weight: bold;
    font-size: 18px;
}

/* tercera seccion, 4 cajas*/

.tercera-seccion{
    background-color: #efefef;
    text-align: center;
    padding: 80px;
}

.tercera-seccion h2{
    font-size: 35px;
    margin-bottom: 15px;
}
.text {
    font-size: 20px;
    margin-bottom: 30px;
    grid-row: 1 / auto;
}

.check{
    width: 20px;
}

.tarjetas{
    display: flex;
    text-align: center;
    gap: 15px;
    justify-content: center;
    
}
.tercera-seccion ul {
    list-style: none;
    height: 250px;
}

.tarjetas article{
    width: 20%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 10px 0.1px;
    text-align: left;
    padding: 10px;
    height: 600px;
}

.tarjetas h3{
    font-size: 25px;
}
.tarjetas article p{
    font-size: 15px;
}

span{
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
    display: inline-block;
    font-weight: bold;
    margin: 0px 4px 10px 0px;
    color: white;
    background-color: rgb(13, 114, 234);
}

.lastbutton{
    width: 100%;
    margin-bottom: 15px;
}

.enlace{
    text-decoration: underline black;
}

article .fintarjeta p{
    font-size: 12px;
    line-height: 15px;
}

.fintarjeta{
    height: 200px;
}

/*footer*/

.footer{
    height: 550px;
    background-color: black;
}
.pie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    padding-top: 75px;
    gap: 10px;
}
.column ul, p{
    list-style: none;
    font-size: 15px;
}
.logo2{
    width: 40px;
    color:white;
    border-radius: 30px;
    border: 20px white;
}

.footer article{
    width: 18%;
    line-height: 45px;
}
.logosfooter{
    text-align: right;
}

.footer p{
    color:#919496;
    font-weight: bold;
}

.menuabajo a{
    color: #919496;
    font-size: 12px;
}

.menuabajo a:hover{
    color: #1ed760;
}

.menuabajo{
    text-align: center;
    margin-top: 80px;

    margin-left: 20px;
}
